<%- include('layout/head.ejs')%>

<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="header__top--box top__box--sign">
                <div class="top__box--logo">
                    <a href="/"><img src="images/logo.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
    <div class="header__menu">
        <div class="container">
            <nav class="nav header__nav">
                <ul class="nav__list">
                    <li class="nav__item"><a href="/" class="nav__link">На головну</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<main class="main">
    <section class="sign-in">
        <div class="container">
            <div class="sign-in__block">
                <form action="" class="sign-in__form">
                    <h3 class="sign-in__form--info">Введіть логін</h3>
                    <div class="sign-in__line"><input id="register-login" type="text" class="sign-in__form--input sign-in__form--login" placeholder="Логін" name="login"></div>
                    <h3 class="sign-in__form--info">Введіть пароль</h3>
                    <div class="sign-in__line"><input id="register-password" type="password" class="sign-in__form--input sign-in__form--password" placeholder="Пароль" name="password"></div>
                    <h3 class="sign-in__form--info">Повторіть пароль</h3>
                    <div class="sign-in__line"><input id="register-password-confirm" type="password" class="sign-in__form--input sign-in__form--password" placeholder="Пароль" name="passwordConfirm"></div>

                    <div class="sign-in__line"><input type="submit" class="register-button button sign-in__form--submit sign-in__form--button" value="Зареєструватися"></div>
                </form>
            </div>
        </div>
    </section>
</main>

<%- include('layout/footer.ejs')%>