<footer class="footer">
    <div class="container">
        <h2 class="footer__headline">1B</h2>
    </div>
</footer>
<script src="https://kit.fontawesome.com/75a1b1807b.js"></script>
<script src="../../../javascripts/jquery.min.js"></script>
<script src="../../../javascripts/auth.js"></script>
<script src="../../../javascripts/post.js"></script>
<script src="../../../javascripts/client.js"></script>
<script src="../../../javascripts/product.js"></script>
<script src="../../../javascripts/useredit.js"></script>
<script src="../../../javascripts/productedit.js"></script>
<script src="../../../javascripts/showMenu.js"></script>
<script src="../../../javascripts/clientpith.js"></script>
</body>
</html>