<div class="header__menu">
    <div class="container">
        <nav class="nav header__nav">
            <div class="nav__btn">
                <button data-target="#nav-main" type="button" class="btn-nav">
                  <span class="btn-nav__line"></span>
                  <span class="btn-nav__line"></span>
                  <span class="btn-nav__line"></span>
                </button>
              </div>
            <ul class="nav__list" id="nav-main"> 
                <li class="nav__item"><a href="/" class="nav__link">На головну</a></li>
                <% if(user.id && user.login) { %>
                <li class="nav__item"><a href="/tables/my_tables" class="nav__link">Міста</a></li>
                <% if(user.admin || user.logist) { %>
                <li class="nav__item"><a href="/post/add" class="nav__link">Створити місто</a></li>
                <% } %>
                <% if(user.admin) { %>
                <li class="nav__item"><a href="/allusers" class="nav__link">Всі користувачі</a></li>
                <li class="nav__item"><a href="/clientborgs" class="nav__link">Борги клієнтів</a></li>
                <% } %>
                <% if(user.admin || user.accountant) { %>
                <li class="nav__item"><a href="/moneys" class="nav__link">Оплати менеджерів</a></li>
                <% } %>
                <% if(user.admin || user.accountantnotnal ||  user.accountant || user.logist) { %>
                <li class="nav__item"><a href="/allselers" class="nav__link">Всі продажі</a></li>
                <% } %>
                <% if(user.manager || user.accountantnotnal || user.accountant) { %>
                <li class="nav__item"><a href="/mypays" class="nav__link">Мої оплати</a></li>
                <% } %>
                <% if(user.admin || user.accountantnotnal || user.accountant) { %>
                <li class="nav__item"><a href="/paynotnals" class="nav__link">Оплати по безнал</a></li>
                <% } %>
                <% if(user.admin || user.accountant) { %>
                    <li class="nav__item"><a href="/paynals" class="nav__link">Оплати по нал</a></li>
                <% } %>
                <% } %>
            </ul>
        </nav>
    </div>
</div>