<%- include('../../../../../../../../../../../../layout/head.ejs')%>

<header class="header">
    <%- include('../layout/header.ejs')%>
    <%- include('../layout/nav.ejs')%>
</header>


<main class="main">
    <h1>
        Зміни успішно прийняті
    </h1>
</main>


<%- include('../layout/footer.ejs')%>