<%- include('../layout/head.ejs')%>
<script>
    window.location.href = '/';
</script>
<header class="header">
    <%- include('../layout/header.ejs')%>
    <%- include('../layout/nav.ejs')%>
</header>

<%- include('../layout/footer.ejs')%>
</body>
</html>